# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
file_path = '../data/imputed_train.csv'
df = pd.read_csv(file_path, index_col=0)
df.head()

,id,stmt_date,HQ_city,legal_struct,ateco_sector,def_date,fs_year,asst_intang_fixed,asst_tang_fixed,asst_fixed_fin,...,profit,days_rec,ebitda,roa,roe,wc_net,margin_fin,cf_operations,calculated_asst_tot,calculated_equity_liabilities_tot
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
17,520288,2011-12-31,28.0,SRL,14.0,NaT,2011,67537.0,1137566.0,1908.0,...,-81288.0,NaN,6318.0,-3.81,-28.03,496258.0,-917029.0,-849.0,1940507.0,2038829.0
18,520288,2008-12-31,28.0,SRL,14.0,NaT,2008,256438.0,1181416.0,860.0,...,-107382.0,NaN,46088.0,-2.76,NaN,97952.0,NaN,-3881.0,2061706.0,2120369.0
19,520288,2009-12-31,28.0,SRL,14.0,NaT,2009,194046.0,1152014.0,860.0,...,-77819.0,NaN,67611.0,-2.17,NaN,-210671.0,NaN,32618.0,1962172.0,1999238.0
21,520288,2012-12-31,28.0,SRL,14.0,NaT,2012,15195.0,1116938.0,2023.0,...,-250786.0,NaN,-161478.0,-12.99,NaN,367892.0,-1094962.0,-168907.0,1868156.0,2035078.0
22,520288,2007-12-31,28.0,SRL,14.0,NaT,2007,126603.0,1127807.0,620.0,...,36733.0,NaN,153060.0,6.20,52.43,-317007.0,-1184970.0,80039.0,1739783.0,1813020.0

In [4]:
df.shape

(1023552, 45)

In [5]:
df['stmt_date'].min(),df['stmt_date'].max()

('2007-12-31', '2012-12-31')

In [6]:
#

### OUTLIER REMOVAL: COMMENT OUT LATER

In [7]:
# #Remove Outlier to get better look with scatter plots
# max_value = df['asst_tot'].max()
# df = df[df['asst_tot'] != max_value]

# print(df['asst_tot'].max())

## Default within a Year (Definition may be adjusted later)

In [8]:
df['stmt_date'] = pd.to_datetime(df['stmt_date'])
df['def_date'] = pd.to_datetime(df['def_date'])

# Calculate 1 year after stmt_date
one_year_after = df['stmt_date'] + pd.DateOffset(years=1)

# Define default if def_date is between stmt_date and one_year_after
df['default'] = ((df['def_date'] >= df['stmt_date']) & (df['def_date'] <= one_year_after)).astype(int)

In [9]:
df['default'].mean()

np.float64(0.0112783717876571)

In [10]:
df[df['default'] == 1].head()

,id,stmt_date,HQ_city,legal_struct,ateco_sector,def_date,fs_year,asst_intang_fixed,asst_tang_fixed,asst_fixed_fin,...,days_rec,ebitda,roa,roe,wc_net,margin_fin,cf_operations,calculated_asst_tot,calculated_equity_liabilities_tot,default
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
4437727,40230625,2007-12-31,63.0,SRU,47.0,2008-10-31,2007,962.0,109805.0,1000.0,...,52.92,-52281.0,-0.88,-131.96,207900.0,-22007.0,-108670.0,7012670.0,11417262.0,1
4437728,40750382,2007-12-31,38.0,SRU,45.0,2008-07-28,2007,10063.0,3922517.0,12955.0,...,77.31,32139.0,-1.96,NaN,-2199583.0,NaN,-617507.0,8169809.0,9155050.0,1
4437731,66210931,2007-12-31,93.0,SRL,68.0,2008-12-22,2007,21052.0,898791.0,0.0,...,NaN,-31374.0,-3.12,NaN,-594066.0,-908808.0,-135332.0,2050808.0,2754908.0,1
4437732,75040931,2007-12-31,93.0,SPA,31.0,2008-11-19,2007,302565.0,1225564.0,537308.0,...,NaN,-718172.0,-14.12,NaN,2540474.0,-1891390.0,-1136205.0,7153888.0,7595187.0,1
4437735,85280527,2007-12-31,52.0,SRL,10.0,2008-05-15,2007,698.0,2497682.0,0.0,...,NaN,-147948.0,-7.35,-8.08,9893.0,-12174.0,-159578.0,2572750.0,2609422.0,1

In [11]:
df.columns

Index(['id', 'stmt_date', 'HQ_city', 'legal_struct', 'ateco_sector',
       'def_date', 'fs_year', 'asst_intang_fixed', 'asst_tang_fixed',
       'asst_fixed_fin', 'asst_current', 'AR', 'cash_and_equiv', 'asst_tot',
       'eqty_tot', 'eqty_corp_family_tot', 'liab_lt', 'liab_lt_emp',
       'debt_bank_st', 'debt_bank_lt', 'debt_fin_st', 'debt_fin_lt', 'AP_st',
       'AP_lt', 'debt_st', 'debt_lt', 'rev_operating', 'COGS',
       'prof_operations', 'goodwill', 'inc_financing', 'exp_financing',
       'prof_financing', 'inc_extraord', 'taxes', 'profit', 'days_rec',
       'ebitda', 'roa', 'roe', 'wc_net', 'margin_fin', 'cf_operations',
       'calculated_asst_tot', 'calculated_equity_liabilities_tot', 'default'],
      dtype='object')

In [13]:
# Check for missing values
missing_values = df.isnull().sum()
print('missing vals:')
print(missing_values.sort_values(ascending=False))

missing vals:
eqty_corp_family_tot                 1023552
def_date                              968128
days_rec                              740211
calculated_equity_liabilities_tot     133509
AP_st                                 120635
AP_lt                                  92244
roe                                    72937
margin_fin                             40758
prof_financing                           656
exp_financing                            367
inc_extraord                             305
liab_lt                                  294
HQ_city                                  277
rev_operating                            174
liab_lt_emp                              162
debt_lt                                  155
debt_fin_lt                              150
debt_bank_lt                             150
cf_operations                             88
ebitda                                    81
taxes                                     32
roa                                       27
inc_financing                             26
COGS                                      24
prof_operations                           21
goodwill                                  21
profit                                    20
cash_and_equiv                            17
AR                                        12
wc_net                                     6
debt_st                                    5
debt_fin_st                                4
debt_bank_st                               4
eqty_tot                                   1
calculated_asst_tot                        0
id                                         0
stmt_date                                  0
asst_tot                                   0
asst_current                               0
asst_fixed_fin                             0
asst_tang_fixed                            0
asst_intang_fixed                          0
fs_year                                    0
ateco_sector                               0
legal_struct                               0
default                                    0
dtype: int64

In [14]:
# Check for missing values
missing_values = df.isnull().sum()/len(df) * 100
print('missing vals:')
print((missing_values[missing_values > 0]).sort_values(ascending=False))

missing vals:
eqty_corp_family_tot                 100.000000
def_date                              94.585131
days_rec                              72.317870
calculated_equity_liabilities_tot     13.043695
AP_st                                 11.785918
AP_lt                                  9.012146
roe                                    7.125871
margin_fin                             3.982016
prof_financing                         0.064091
exp_financing                          0.035856
inc_extraord                           0.029798
liab_lt                                0.028724
HQ_city                                0.027063
rev_operating                          0.017000
liab_lt_emp                            0.015827
debt_lt                                0.015143
debt_bank_lt                           0.014655
debt_fin_lt                            0.014655
cf_operations                          0.008598
ebitda                                 0.007914
taxes                                  0.003126
roa                                    0.002638
inc_financing                          0.002540
COGS                                   0.002345
prof_operations                        0.002052
goodwill                               0.002052
profit                                 0.001954
cash_and_equiv                         0.001661
AR                                     0.001172
wc_net                                 0.000586
debt_st                                0.000488
debt_fin_st                            0.000391
debt_bank_st                           0.000391
eqty_tot                               0.000098
dtype: float64

# Features of Risk Calc
- Assets (Total): Measures the size of the firm, adjusted for inflation.
- Inventory / Cost of Goods Sold (COGS): Assesses inventory efficiency.
- Liabilities / Assets: A measure of financial leverage.
- Net Income / Assets: Profitability ratio indicating asset efficiency.
- Net Income Growth: Tracks changes in profitability over time.
- Quick Ratio: A liquidity ratio for assessing short-term solvency.
- Retained Earnings / Assets: Indicates long-term financial stability.
- Sales Growth: Measures the growth trajectory of a firm's revenue.
- Cash / Assets: Assesses liquidity and the firm’s ability to meet short-term obligations.
- Debt Service Coverage Ratio: Evaluates the firm's ability to cover debt payments from its earnings.

## 1. Assets Total QA

#### It appears that total assets is roughly df['asst_intang_fixed'] + df['asst_tang_fixed'] + df['asst_fixed_fin'] + df['asst_current'], although there is a 1.4% difference.

### Is data reliable? Let's check Assets = Liabilities + Equity

In [15]:
df['liab_tot'] = df['debt_st'] + df['debt_lt'] + df['AP_st'] + df['AP_lt']
df['calculated_liabilities_equity'] = df['liab_tot'] + df['eqty_tot']

In [16]:
df['liab_tot'] = df['debt_st'] + df['debt_lt'] 
df['calculated_liabilities_equity'] = df['liab_tot'] + df['eqty_tot']

#### It seems here that liab_tot is better approximated by just total debt.... This doesn't make sense to me.
----
I think perhaps the issue is due to issues with accounts payables having nulls. The thing is I don't think we can recover AP_st or AP_lt because we do not have a total AP number. **Only idea is that AP total could be extracted from some other field??** As of RN I do not know if possible...

## Conditional Probability of Default for Total Assets

In [17]:
quantiles = 10
df['asset_quantile'] = pd.qcut(df['asst_tot'], q=quantiles, labels=False)  # 4 quantiles (quartiles)

# 2. Inventory / Cost of Goods Sold (COGS):  (inventory efficiency)
----
We do not have access to Inventory, nor a good way to extract it from the fields we have... We will have to skip this

# 3. Liabilities / Assets: (financial leverage)
-----
For this to work, we have to be somewhat sure that our total Liabilities field we calculated makes sense. The above check that total assets = total liabilities + equity shows that it is at least close. **It is possible we are missing something in calculating our total liabilities though and if we are then this could be impacted.**

In [18]:
df['financial_leverage'] = df['liab_tot'] / df['asst_tot']

## Conditional Probability of Default for Financial Leverage

In [19]:
quantiles = 10
df['financial_leverage_quantile'] = pd.qcut(df['financial_leverage'], q=quantiles, labels=False)  # 4 quantiles (quartiles)

# 4. Net Income / Assets: (Profitability ratio)
---
Here, profit is same as net income I believe... We have no nulls in profit or in total assets, so we should be ok. Total assets appears to check out. **Still need to do QC on profit (does it check out with revenue - costs?)**

In [20]:
df['profitability_ratio'] = df['profit'] / df['asst_tot']

## Conditional Probability of Default for Profitability ratio

In [21]:
quantiles = 10
df['profitability_ratio_quantile'] = pd.qcut(df['profitability_ratio'], q=quantiles, labels=False)  # 4 quantiles (quartiles)

# 5. Net Income Growth
----
As discussed in our meeting, there are some significant challenges to using this. I am going to leave this for later...

# 6. Quick Ratio: (LiquidAssets:Current Liabilities)
---
There are a few cheat sheet formulas to consider:
1. (current assets - inventory) / current liabilities
- This cant work as we don't have inventory
2. (Cash + marketable securities + net receivabl) / current liabilities
- this maybe can work, we have AR and AP_st and AP_lt so can do net receivables 
3. (cash + cash equivalents + short term investments + current recievables) / current liabilities
- we dont exactly have short term recievables but can use AR instead...

-----
**CALC of short term liabilities is an open question here**
If we just use debt st that would seem to line up with earlier interpretation of total liabilities. But doesn't quite make logical sense.... Regardless this is how I will proceed for now.

----
We have 2 versions below using what we have from 2. and 3. above. V1 seems more ideal to me, but it will have issues with NAs

In [22]:
#v1: (Cash + marketable securities + net receivabl) / current liabilities
# we can find net receivables
# THIS WILL HAVE ISSUES WITH NULLS FROM AP_st and AP_lt
df['net_receivables'] = df['AR'] - (df['AP_st'] + df['AP_lt'])
df['quick_ratio_v1'] = (df['cash_and_equiv'] + df['net_receivables']) / df['debt_st']

#v2: (cash + cash equivalents + short term investments + current recievables) / current liabilities
# we cant find current recievables so must use all recievables
df['quick_ratio_v2'] = (df['cash_and_equiv'] + df['AR']) / df['debt_st']

### SEE MISSING VALS IN V1

In [23]:
# Check for missing values
missing_values = df.isnull().sum()
print('missing vals:')
print(missing_values[missing_values > 0])

missing vals:
HQ_city                                  277
def_date                              968128
AR                                        12
cash_and_equiv                            17
eqty_tot                                   1
eqty_corp_family_tot                 1023552
liab_lt                                  294
liab_lt_emp                              162
debt_bank_st                               4
debt_bank_lt                             150
debt_fin_st                                4
debt_fin_lt                              150
AP_st                                 120635
AP_lt                                  92244
debt_st                                    5
debt_lt                                  155
rev_operating                            174
COGS                                      24
prof_operations                           21
goodwill                                  21
inc_financing                             26
exp_financing                            367
prof_financing                           656
inc_extraord                             305
taxes                                     32
profit                                    20
days_rec                              740211
ebitda                                    81
roa                                       27
roe                                    72937
wc_net                                     6
margin_fin                             40758
cf_operations                             88
calculated_equity_liabilities_tot     133509
liab_tot                                 156
calculated_liabilities_equity            156
financial_leverage                       156
financial_leverage_quantile              156
profitability_ratio                       20
profitability_ratio_quantile              20
net_receivables                       133514
quick_ratio_v1                        133536
quick_ratio_v2                            47
dtype: int64

## Conditional Probability of Default for quick_ratio_v2

In [24]:
quantiles = 10
df['quick_ratio_v2_quantile'] = pd.qcut(df['quick_ratio_v2'], q=quantiles, labels=False, duplicates='drop')  # 4 quantiles (quartiles)

# 7. Retained Earnings / Assets: Indicates long-term financial stability.
----
We don't have an exact proxy for retained earnings (basically we don't know what portion of profit is retained versus not):

**DEF:**
Retained earnings are the cumulative net earnings or profits of a company after accounting for dividend payments. As an important concept in accounting, the word “retained” captures the fact that because those earnings were not paid out to shareholders as dividends, they were instead retained by the company.

# 8.  Sales Growth: Measures the growth trajectory of a firm's revenue.
------

Again, I am going to leave this for now given the dificulties discussed in our meeting with Prof

# 9. Cash / Assets:

In [25]:
df['cash_assets_ratio'] = df['cash_and_equiv'] / df['asst_tot']

## Conditional Probability of Default for cash_assets_ratio

In [26]:
cash_assets_ratioquantiles = 10
df['cash_assets_ratio_quantile'] = pd.qcut(df['cash_assets_ratio'], q=quantiles, labels=False)  # 4 quantiles (quartiles)

# 10. Debt Service Coverage Ratio: Evaluates the firm's ability to cover debt payments from its earnings.
---
**DEF**:
EBIT/interest

----
WE have ebitda rathter than ebit, and we have exp_financing which captures expensese of financing such as interest...

---
**ISSUE**: exp_financing can be 0, in which case this ratio will not be defined...

For now I think we can set 0 to 1, but this **must be revisisted....**

In [27]:
 df[['ebitda','exp_financing']].head()

              ebitda  exp_financing
Unnamed: 0
17            6318.0        15550.0
18           46088.0        49758.0
19           67611.0        35239.0
21         -161478.0        14057.0
22          153060.0        13569.0

In [48]:
df[['prof_operations','ebitda','exp_financing']].isna().sum()

prof_operations     21
ebitda              81
exp_financing      367
dtype: int64

In [55]:
df[(df['prof_operations'].isna())&(df['ebitda'].isna())][['prof_operations','ebitda','exp_financing']].shape

(21, 3)

In [28]:
#set 0 to 1 for exp_financing
df['exp_financing'] = df['exp_financing'].replace(0, 1)

df['dscr'] = df['ebitda'] / df['exp_financing']

## Conditional Probability of Default for dscr

In [29]:
cash_assets_ratioquantiles = 10
df['dscr_quantile'] = pd.qcut(df['dscr'], q=quantiles, labels=False)  # 4 quantiles (quartiles)

# Features of Risk Calc
- Assets (Total): Measures the size of the firm, adjusted for inflation.
- Inventory / Cost of Goods Sold (COGS): Assesses inventory efficiency.
- Liabilities / Assets: A measure of financial leverage.
- Net Income / Assets: Profitability ratio indicating asset efficiency.
- Net Income Growth: Tracks changes in profitability over time.
- Quick Ratio: A liquidity ratio for assessing short-term solvency.
- Retained Earnings / Assets: Indicates long-term financial stability.
- Sales Growth: Measures the growth trajectory of a firm's revenue.
- Cash / Assets: Assesses liquidity and the firm’s ability to meet short-term obligations.
- Debt Service Coverage Ratio: Evaluates the firm's ability to cover debt payments from its earnings.

In [37]:
df.columns.to_list()

['id',
 'stmt_date',
 'HQ_city',
 'legal_struct',
 'ateco_sector',
 'def_date',
 'fs_year',
 'asst_intang_fixed',
 'asst_tang_fixed',
 'asst_fixed_fin',
 'asst_current',
 'AR',
 'cash_and_equiv',
 'asst_tot',
 'eqty_tot',
 'eqty_corp_family_tot',
 'liab_lt',
 'liab_lt_emp',
 'debt_bank_st',
 'debt_bank_lt',
 'debt_fin_st',
 'debt_fin_lt',
 'AP_st',
 'AP_lt',
 'debt_st',
 'debt_lt',
 'rev_operating',
 'COGS',
 'prof_operations',
 'goodwill',
 'inc_financing',
 'exp_financing',
 'prof_financing',
 'inc_extraord',
 'taxes',
 'profit',
 'days_rec',
 'ebitda',
 'roa',
 'roe',
 'wc_net',
 'margin_fin',
 'cf_operations',
 'calculated_asst_tot',
 'calculated_equity_liabilities_tot',
 'default',
 'liab_tot',
 'calculated_liabilities_equity',
 'asset_quantile',
 'financial_leverage',
 'financial_leverage_quantile',
 'profitability_ratio',
 'profitability_ratio_quantile',
 'net_receivables',
 'quick_ratio_v1',
 'quick_ratio_v2',
 'quick_ratio_v2_quantile',
 'cash_assets_ratio',
 'cash_assets_ratio_quantile',
 'dscr',
 'dscr_quantile']

In [40]:
featured_data = df[['id',
    'stmt_date',
    'HQ_city',
    'legal_struct',
    'ateco_sector',
    'def_date',
    'fs_year',
    'asst_tot',           # Assets (Total): Measures the size of the firm, adjusted for inflation.
    'COGS',              # Inventory / Cost of Goods Sold (COGS): Assesses inventory efficiency.
    'financial_leverage', # Liabilities / Assets: A measure of financial leverage.
    'profitability_ratio', # Net Income / Assets: Profitability ratio indicating asset efficiency.
    # Net Income Growth: Tracks changes in profitability over time.
    'quick_ratio_v1','quick_ratio_v2',# Quick Ratio: A liquidity ratio for assessing short-term solvency.
    # Retained Earnings / Assets: Indicates long-term financial stability.
    # Sales Growth: Measures the growth trajectory of a firm's revenue.
    'cash_assets_ratio', # Cash / Assets: Assesses liquidity and the firm’s ability to meet short-term obligations.
    'dscr',# Debt Service Coverage Ratio: Evaluates the firm's ability to cover debt payments from its earnings.
    'default', # label
   ]]

In [41]:
featured_data.head()

,id,stmt_date,HQ_city,legal_struct,ateco_sector,def_date,fs_year,asst_tot,COGS,financial_leverage,profitability_ratio,quick_ratio_v1,quick_ratio_v2,cash_assets_ratio,dscr,default
Unnamed: 0,,,,,,,,,,,,,,,,
17,520288,2011-12-31,28.0,SRL,14.0,NaT,2011,1946940.0,612202.0,0.810523,-0.041752,0.481744,1.201730,0.001070,0.406302,0
18,520288,2008-12-31,28.0,SRL,14.0,NaT,2008,2077346.0,1024802.0,0.985222,-0.051692,0.536997,0.748499,0.002570,0.926243,0
19,520288,2009-12-31,28.0,SRL,14.0,NaT,2009,1975874.0,681513.0,0.987754,-0.039385,0.370559,0.482796,0.005310,1.918641,0
21,520288,2012-12-31,28.0,SRL,14.0,NaT,2012,1872882.0,563147.0,0.930937,-0.133904,0.114860,0.804134,0.003496,-11.487373,0
22,520288,2007-12-31,28.0,SRL,14.0,NaT,2007,1769122.0,1931401.0,0.923659,0.020763,0.449771,0.585590,0.008071,11.280124,0

In [43]:
featured_data.to_csv('../data/features_for_model.csv')